<?xml version="1.0"?>
<!--
/**
 * Copyright © Thinkbeat. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Plugin to enhance order grid collection -->
    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="thinkbeat_smart_order_grid_collection"
                type="Thinkbeat\SmartOrderGrid\Plugin\Sales\Model\ResourceModel\Order\Grid\Collection"
                sortOrder="10"/>
    </type>
</config>
